.productos {
    padding: 2rem;
    background-color: var(--color-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--color-text);
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        justify-content: flex-end;
    }

    &__table-wrapper {
        overflow-x: auto;
        border-radius: 8px;
        box-shadow: var(--shadow);
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        min-width: 700px;
        color: var(--color-text);

        th {
            text-align: center;
            font-weight: 600;
            color: var(--color-text);
            text-transform: uppercase;
        }

        td {
            text-align: center;
            background-color: var(--color-surface);
        }

        tr:hover td {
            background-color: var(--color-bg-hover);
        }

        .acciones {
            display: flex;
            justify-content: center;
            gap: 0.8rem;
            margin-top: 0.1rem;

            button {
                padding: 0.4rem 0.9rem;
                font-size: 0.9rem;
                border: none;
                border-radius: var(--radius);
                color: var(--color-text);
                transition: all 0.25s ease;

                &:hover {
                    background-color: var(--color-surface);
                }

                &.danger {
                    background-color: var(--color-danger);
                    color: var(--color-text);

                    &:hover {
                        background-color: var(--color-danger-hover);
                    }
                }
            }
        }
    }
}