<div class="contenedor-detalle container">
    <div class="tarjeta">
        <h2>Detalle de salida #{{ salidaId }}</h2>

        <div class="contenedor-tabla table-responsive" *ngIf="productos.length > 0">
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th class="texto-centro">Cantidad</th>
                        <th class="texto-derecha">Precio unitario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productos">
                        <td>{{ p.name }}</td>
                        <td class="texto-centro">{{ p.quantity }}</td>
                        <td class="texto-derecha">{{ p.unit_price | currency:'ARS' }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="etiqueta-total">TOTAL</td>
                        <td class="valor-total">{{ totalGeneral | currency:'ARS' }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>